*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.idea
*.pem
*.crt
*.pfx
*.css
*.sass-cache
*.map
*umwelt-hi-proto.min.js

pids/**
logs/**
results/**
build/**
dump/**
prepros*
tmp/*

.sass-cache/**
lib-cov/**
node_modules/**

#OS X specific files
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*
