.overlay{
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.58);
    padding-top: 80px;
    padding-bottom: 80px;
}

aside{
	float: left;
    position: relative;
    width: 250px;
    padding:0 0 0 10px;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.18);
}

.optitle{
	margin-top: 20px;
    margin-bottom: 5px;
}

.stats-section{
    float:left;
    height: 100%;
    padding-left: 30px;
}

.friend-section{
    float:right;
    height: 100%;
    padding-right: 30px;
    width: 250px;
    position: relative;
    border-left: 1px solid rgba(255, 255, 255, 0.18);

    ul{
        color: white;
        list-style: none;
    }

    form{
        bottom: 0px;
        position: absolute;
    }
}

.classL{
    list-style:none;
    color: white;

    p{
        margin: 0 3px;
    }

    li{
        display: flex;
    }
}

.hide{
    display: none;
}

.show{
    display: block;
}



